.titleContainer {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 300px;
    margin: 20px;
    text-align: center;
    color: black;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .select {
    display: inline;
  }
  .tableContainer {
    margin: 30px;
  }
  