.titleContainer {
  border-style: solid;
  border-color: black;
  width: 400px;
  margin: 20px;
  text-align: center;
}
.container {
  border-style: solid;
  border-color: blue;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
